.productCard{
    width: 18vw;
}

.imageBackground{
    position: relative;
}

.background-secondary{
    background: #eeeeee;
}

.likeBtn{
    position: absolute;
    top: 10px;
    left: 10px;
    background: #fff;
    padding: 5px;
    border-radius: 50%;
}