@tailwind base;
@tailwind components;
@tailwind utilities;

.background-primary {
  background: #fff;
}
.background-secondary {
  background: #eeeeee;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0e0e0e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}

* {
  scroll-margin-top: 90px;
}

button:focus{
  outline: none;
  border: none;
  border-color: transparent;
}